.r2social-style1-heart {
	 width: 100px;
	 height: 100px;
	 background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
	 background-position: 0 0;
	 cursor: pointer;
	 transition: background-position 1s steps(28);
	 transition-duration: 0s;
}
 .r2social-style1-heart.is-active {
	 transition-duration: 1s;
	 background-position: -2800px 0;
}
 .r2social-style1-heart:hover {
	 opacity: 0.8;
}

.r2social-style2-btn-secondary {
  display: block;
  text-align: center;
  background: #FF2D55;
  border-radius: 3px;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  padding: 10px 17px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.r2social-style2-btn-secondary:hover {
  transform: translateY(-3px);
}

.r2social-style2-btn-secondary .fa {
  margin-right: 5px;
}







.r2social-style3-like-container{filter: url('#filter');
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}
.r2social-style3-like-cnt{
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 100%;
  transform: translate(50%, -50%);     background: rgba(255,255,255,0.3);     width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  z-index: 10;
}
.r2social-style3-like-btn{
  color: #fff;
}


